name: CodeCov
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.9'
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.9
    - name: 'generate report'
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install coverage
        python -m pip install -r requirements.txt
        coverage run --source='.' --parallel -m pytest 
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        flags: pytest
        fail_ci_if_error: true
